@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 840px) {
  .container {
    max-width: 810px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 940px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}

.navlink {
  display: inline-block;
}

.navlink::after {
  content: '';
  width: 0px;
  height: 10%;
  display: block;
  background: #e53b3a;
  transition: width .3s ease;
}
.navlink.active::after{
  width: 50%;
}
.navlink:hover::after {
  width: 50%;
}
.maincard:hover .card{
cursor: pointer;
transform: rotateY(-180deg);

}
.card{
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}
/* .card:hover{
  transform: rotateY(180deg);
  cursor: pointer;
} */
.thefront{
  backface-visibility: hidden;
}

.theback{
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

#tsparticles {
  height: 600px;
}
.hover-gap {
  margin-right: 1px;
      transition: margin-right 0.3s ease; /* Add transition */
}
.hover-gap:hover {
margin-right: 5px; 
}